img {border: 1px solid black;background-color: rgba(220,225,255,1)}
li{ margin-bottom: 10px;}
.ville{color: rgba(25, 75, 230, 0.9);}
.email{color:rgba(30,80,200,0.9);}
.detail{color:rgba(250,25,75,0.9);border-bottom: 2px solid black;}
